body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: url("img/background.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}